In [1]:
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\spark\\spark-3.0.1-bin-hadoop2.7'

In [2]:

from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext, SparkSession
import pyspark.sql.functions as f
import sys

In [3]:
conf = pyspark.SparkConf().setAppName('appName').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

In [4]:
import numpy as np # linear algebra
import pandas as pd # data processing
import itertools

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as ss

In [28]:
injury= spark.read.option('header',True).csv('../nfl/InjuryRecord.csv')

In [29]:
injury.show()

+---------+--------+-----------+--------+---------+-----+-----+------+------+
|PlayerKey|  GameID|    PlayKey|BodyPart|  Surface|DM_M1|DM_M7|DM_M28|DM_M42|
+---------+--------+-----------+--------+---------+-----+-----+------+------+
|    39873| 39873-4| 39873-4-32|    Knee|Synthetic|    1|    1|     1|     1|
|    46074| 46074-7| 46074-7-26|    Knee|  Natural|    1|    1|     0|     0|
|    36557| 36557-1| 36557-1-70|   Ankle|Synthetic|    1|    1|     1|     1|
|    46646| 46646-3| 46646-3-30|   Ankle|  Natural|    1|    0|     0|     0|
|    43532| 43532-5| 43532-5-69|   Ankle|Synthetic|    1|    1|     1|     1|
|    41145| 41145-2| 41145-2-60|    Knee|  Natural|    1|    0|     0|     0|
|    46014|46014-10|46014-10-22|   Ankle|Synthetic|    1|    1|     1|     1|
|    44860| 44860-5| 44860-5-52|    Knee|  Natural|    1|    1|     0|     0|
|    44806| 44806-7| 44806-7-61|    Knee|Synthetic|    1|    0|     0|     0|
|    45962| 45962-8| 45962-8-40|   Ankle|Synthetic|    1|    1|     0|     0|
|    46331| 46331-4| 46331-4-44|   Ankle|Synthetic|    1|    1|     1|     1|
|    36621|36621-13|36621-13-58|    Foot|  Natural|    1|    1|     1|     1|
|    44492| 44492-3| 44492-3-23|   Ankle|  Natural|    1|    1|     1|     1|
|    43505| 43505-2| 43505-2-49|    Foot|  Natural|    1|    1|     1|     1|
|    41094| 41094-1| 41094-1-55|    Knee|  Natural|    1|    1|     1|     1|
|    40474| 40474-1|  40474-1-8|    Knee|Synthetic|    1|    0|     0|     0|
|    39656| 39656-2| 39656-2-38|    Knee|Synthetic|    1|    1|     0|     0|
|    46587| 46587-2| 46587-2-13|    Knee|Synthetic|    1|    1|     1|     1|
|    46119| 46119-3| 46119-3-16|    Knee|  Natural|    1|    1|     0|     0|
|    38364| 38364-5| 38364-5-23|    Foot|Synthetic|    1|    1|     1|     1|
+---------+--------+-----------+--------+---------+-----+-----+------+------+
only showing top 20 rows

In [30]:
injury_panda = injury.toPandas()

In [31]:
injury_panda.head()

  PlayerKey   GameID     PlayKey BodyPart    Surface DM_M1 DM_M7 DM_M28 DM_M42
0     39873  39873-4  39873-4-32     Knee  Synthetic     1     1      1      1
1     46074  46074-7  46074-7-26     Knee    Natural     1     1      0      0
2     36557  36557-1  36557-1-70    Ankle  Synthetic     1     1      1      1
3     46646  46646-3  46646-3-30    Ankle    Natural     1     0      0      0
4     43532  43532-5  43532-5-69    Ankle  Synthetic     1     1      1      1

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)